
body {
    background-color: black; /* Change to black */
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Style the header and navigation */
header {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    width: auto;
    margin-left: 40px;
}

.logo span {
    margin-left: 10px;
    font-size: 20px;
    color: #ffffff;
}

nav input[type="text"] {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    
    margin-right: 200px;
    font-size: 16px;
    background-color: #f4f4f4;
    transition: border-color 0.3s, box-shadow 0.3s;
}

nav input[type="text"]:focus {
    outline: none;
    border-color: #ff6600;
    box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}

.menu-toggle {
    display: none;
}
/* Media query for mobile responsiveness */
@media screen and (max-width: 768px) {

    .about-section,
    .bento-box {
      flex-direction: column;  /* Stack elements vertically */
      align-items: center;      /* Center elements horizontally */
    }
    
    .about-image,
    .about-content {
      flex: initial;           /* Remove flex basis for more fluid layout */
    }
  }
  @media screen and (max-width: 768px) {

    h1, h2, h3, p {
      font-size: 18px;  /* Adjust font size as needed */
    }
  }
    /* Media query for mobile responsiveness */
@media screen and (max-width: 768px) {

    #myNav {
      display: none;  /* Initially hide navigation on mobile */
    }
  }
  
  /* Style for open navigation (add with Javascript) */
  #myNav.active {
    display: block;
  }
  

.about-section {
    display: flex;
    align-items: center;
    background-image: url('uranus-bg.jpg'); /* Add the path to your background image */
    background-size: cover;
    color: #ffffff; /* Set text color to white */
}

.about-content ul {
    color: #ffffff; /* Set text color for list items */
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        margin-top: 10px;
    }

    nav {
        display: none;
        width: 100%;
        text-align: center;
    }

    nav.active {
        display: block;
    }

    nav input[type="text"] {
        margin: 10px auto;
    }
}


/*________________________2nd section____________________*/

.about-section {
    display: flex;
    align-items: center;
    background-color: #1e1e1e; /* Change to black */
    color: #ffffff; /* Set text color to white */
}
.about-image {
    flex: 1;
    padding: 0px; 
}

.about-image img {
    max-width: 100%;
    height: auto;
    padding: 50px;
    border-radius: 800px; /* Add border radius */
}

.gradient {
    background: linear-gradient(135deg, #4e9cff, #ff6ad5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.about-content {
    flex: 2;
    padding-left: 100px;
    padding-right: 100px;
}

#tt2 {
    text-align: center;
    font-size: 50px;
    font-family: Nunito;
    
    color: #ffffff;
    font-weight: bold;
    margin-top: 0; 
    margin-bottom: 30px;
}

#p1 {
    color: #a1a1a1;
    line-height: 1.2em;
    font-family: Nunito;
    font-size: 16px;
    margin-top: 0; 
    margin-bottom: 30px;
}

@media (min-width: 769px) {
    .about-section {
        display: flex;
        align-items: center;
        background-color: #ffffff;
    }

    .about-image {
        flex: 1;
        padding: 0;
    }

    .about-image img {
        max-width: 100%;
        height: auto;
    }

    .about-content {
        flex: 1;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
        text-align: center;
    }

    .about-image {
        order: 1;
        height: 100%;
        width: auto;
        padding: 0;
    }

    .about-image img{
        padding: 0px;
    }

    .about-content {
        order: 2;
        margin-left: 50px;
    }

    #tt2 {
        font-size: 24px;
    }

    #p1 {
        font-size: 14px;
    }
}

.bento-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px; /* Padding around the container */
}

.row {
    display: flex;
    gap: 20px; /* Adjust gap between images in a row */
}

.image-container {
    flex: 1;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.single-image {
    margin-top: 20px; /* Adjust margin between rows */
    max-width: 50%; /* Set max-width for single images */
}


/*vedio section*/
.video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* Set the desired height */
}

.video-container {
    width: calc(500px * 16 / 9); /* Calculate width based on 16:9 aspect ratio */
    height: 100%; /* Ensure the container takes up full height */
    max-width: 100%; /* Ensure it doesn't exceed the width of the section */
}

.video-container iframe {
    width: 100%;
    height: 100%; /* Make the iframe fill the container */
}

/*footer*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #333; /* Change to your desired background color */
}

.footer-column {
    display: flex;
    flex-direction: column;
    margin: 0 20px; 
}
.footer-item {
    margin: 4px 0;
}


.footer a {
    color: gray; 
}

.footer a:hover {
    color: blue; 
}
